In [46]:
import pandas as pd

In [47]:
dataset=pd.read_csv("Maternal Health Risk Data Set.csv")

In [48]:
dataset

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0      25         130           80  15.0      98.0         86  high risk
1      35         140           90  13.0      98.0         70  high risk
2      29          90           70   8.0     100.0         80  high risk
3      30         140           85   7.0      98.0         70  high risk
4      35         120           60   6.1      98.0         76   low risk
...   ...         ...          ...   ...       ...        ...        ...
1009   22         120           60  15.0      98.0         80  high risk
1010   55         120           90  18.0      98.0         60  high risk
1011   35          85           60  19.0      98.0         86  high risk
1012   43         120           90  18.0      98.0         70  high risk
1013   32         120           65   6.0     101.0         76   mid risk

[1014 rows x 7 columns]

In [49]:
dataset['RiskLevel'].replace({'high risk':3,'mid risk':2,'low risk':1},inplace=True)

dataset['RiskLevel'] = dataset['RiskLevel'].astype(float)

In [50]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014 entries, 0 to 1013
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          1014 non-null   int64
 1   SystolicBP   1014 non-null   int64
 2   DiastolicBP  1014 non-null   int64
 3   BS           1014 non-null   float64
 4   BodyTemp     1014 non-null   float64
 5   HeartRate    1014 non-null   int64
 6   RiskLevel    1014 non-null   float64
dtypes: float64(3), int64(4)
memory usage: 55.6 KB

In [51]:
dataset

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0      25         130           80  15.0      98.0         86        3.0
1      35         140           90  13.0      98.0         70        3.0
2      29          90           70   8.0     100.0         80        3.0
3      30         140           85   7.0      98.0         70        3.0
4      35         120           60   6.1      98.0         76        1.0
...   ...         ...          ...   ...       ...        ...        ...
1009   22         120           60  15.0      98.0         80        3.0
1010   55         120           90  18.0      98.0         60        3.0
1011   35          85           60  19.0      98.0         86        3.0
1012   43         120           90  18.0      98.0         70        3.0
1013   32         120           65   6.0     101.0         76        2.0

[1014 rows x 7 columns]

In [52]:
x=dataset.iloc[:,[0,1,2,3,4,5]].values

In [53]:
x[0]

array([ 25., 130.,  80.,  15.,  98.,  86.])

In [54]:
y=dataset.iloc[:,[6]].values
y[0]

array([3.])

In [55]:
from sklearn.model_selection import train_test_split

xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=100)

In [56]:
from sklearn.neighbors import KNeighborsClassifier
import numpy as np

model=KNeighborsClassifier()
ytrain=np.ravel(ytrain)
model.fit(xtrain,ytrain)

KNeighborsClassifier()

In [57]:
ypred=model.predict(xtest)

In [58]:
from sklearn.metrics import accuracy_score

score=accuracy_score(ypred,ytest)
score

0.6798029556650246

In [68]:
from sklearn.tree import DecisionTreeClassifier

dt=DecisionTreeClassifier()
dt.fit(xtrain,ytrain)
ypred=model.predict(xtest)
score=accuracy_score(ypred,ytest)
score

print(dt.score(xtrain,ytrain))
testdata=np.array([[23,90,60,7.01,98,76]])

pred=dt.predict(testdata)
print(f"Result of prediction ={pred[0]}")

0.9247842170160296
Result of prediction =1.0

In [67]:
from sklearn.tree import DecisionTreeRegressor

dtr=DecisionTreeRegressor()
dtr.fit(xtrain,ytrain)
print(dtr.score(xtrain,ytrain))

0.8992093236995398